* {
  box-sizing: border-box;
}

/* CSS applied on elements */
body {
  font-family: "Staatliches";
  color: #1a1a1a;
  font-size: 20px;
  margin: 0px;
}

/* CSS applied on ids */

/* CSS applied on classes */
.container {
  margin: 0 auto;
  width: 80%;
  max-width: 1200px;
  display: grid;
}

.row {
  width: 100%;
}

.column {
  float: left;
  padding: 10px;
  /* height: inherit; */
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

/*
    *     *   navigation link classes   *     *     *
*/
.navbar {
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  height: 56px;
}
.nav-link {
  font-size: 1.5rem;
}
.nav-link:link {
  color: #4d4d4d;
  text-decoration: none;
}

.nav-link:visited {
  color: #4d4d4d;
  text-decoration: none;
}

.nav-link:hover {
  color: #DBDBEC;
  text-decoration: none;
}

.nav-link:active {
  color: #4d4d4d;
  text-decoration: none;
}

.nav-link-panel {
  height: 86px;
  border-style: solid;
  border-width: 2px 2px 0 0;
  border-color: rgba(0, 0, 0, 0.5);
  padding: 8px 8px 8px 8px;
}

.nav-link-panel:hover {
  border-width: 4px;
  transform: scale(1.05);
  background-color:#797997;
}

.mutable-hide {
  display: none;
}
/*
    *     *   header classes   *     *     *
*/

.main-header {
  width: 100%;
  text-align: center;
  margin: 32px 32px 0 0;
}

.main-header>h1 {
  font-family: "Liberation Mono";
  font-size: 3.5rem;
  font-weight: lighter;
}

.sub-header {
  width: 100%;
  text-align: center;
  margin: 16px 0 32px 0;
}

.sub-header>h2 {
  font-size: 1rem;
  font-weight: lighter;
}

/*
    *     *   shapes   *     *     *
*/
.arch {
  border: 2px solid #000; /* the 'strokes' of the arc */
  display: inline-block;
  /* width: 128px; */
  /* height: 128px; */
  width: 128px;
  height: 128px;
  border-radius: 50%; /* for making the elements 'round' */
  border-top-color: transparent; /* hiding the top border */
  border-bottom-color: transparent;
  border-right-color: transparent;
}
.btn-delete {
  width: 25px;
  height: 25px;
}
.btn-delete:hover {
  border-radius: 50%;
  background-color: red;
  -webkit-animation: spin 3s;
  -moz-animation: spin 3s;
  -o-animation: spin 3s;
  animation:  spin 3s;
}

/* Color Animation with @keyframes*/
@-webkit-keyframes colorAnimation {
  0%   { opacity: 0;}
  5%  { color: white; }
  10%  { font-family: 'Squada One' }
  15%  { color: purple}
  20%  { color: blue; }
  25%  { font-family: 'Share' }
  30%  { color: green; }
  35%  { font-family: 'Forum'}
  40%  { color: yellow; }
  45%  { font-family: 'GFS Didot', serif; }
  50%  { color: silver; }
  60%  { color: gold; }
  65%  { font-family: 'Changa One' }
  70%  { color: red; }
  75%  { font-family: 'GFS Didot', serif; }
  80%  { color: cyan; }
  85%  { font-family: 'Bowlby One SC' }
  90%  { color: white; }
  95%  { font-family: 'Staatliches' }
  100% { opacity: 1; }
}
@-moz-keyframes colorAnimation {
  0%   { opacity: 0;}
  5%  { color: white; }
  10%  { font-family: 'Squada One' }
  15%  { color: purple}
  20%  { color: blue; }
  25%  { font-family: 'Share' }
  30%  { color: green; }
  35%  { font-family: 'Forum'}
  40%  { color: yellow; }
  45%  { font-family: 'GFS Didot', serif; }
  50%  { color: silver; }
  60%  { color: gold; }
  65%  { font-family: 'Changa One' }
  70%  { color: red; }
  75%  { font-family: 'GFS Didot', serif; }
  80%  { color: cyan; }
  85%  { font-family: 'Bowlby One SC' }
  90%  { color: white; }
  95%  { font-family: 'Staatliches' }
  100% { opacity: 1; }
}
@-o-keyframes colorAnimation {
  0%   { opacity: 0;}
  5%  { color: white; }
  10%  { font-family: 'Squada One' }
  15%  { color: purple}
  20%  { color: blue; }
  25%  { font-family: 'Share' }
  30%  { color: green; }
  35%  { font-family: 'Forum'}
  40%  { color: yellow; }
  45%  { font-family: 'GFS Didot', serif; }
  50%  { color: silver; }
  60%  { color: gold; }
  65%  { font-family: 'Changa One' }
  70%  { color: red; }
  75%  { font-family: 'GFS Didot', serif; }
  80%  { color: cyan; }
  85%  { font-family: 'Bowlby One SC' }
  90%  { color: white; }
  95%  { font-family: 'Staatliches' }
  100% { opacity: 1; }
}
@keyframes colorAnimation {
  0%   { opacity: 0;}
  5%  { color: white; }
  10%  { font-family: 'Squada One' }
  15%  { color: purple}
  20%  { color: blue; }
  25%  { font-family: 'Share' }
  30%  { color: green; }
  35%  { font-family: 'Forum'}
  40%  { color: yellow; }
  45%  { font-family: 'GFS Didot', serif; }
  50%  { color: silver; }
  60%  { color: gold; }
  65%  { font-family: 'Changa One' }
  70%  { color: red; }
  75%  { font-family: 'GFS Didot', serif; }
  80%  { color: cyan; }
  85%  { font-family: 'Bowlby One SC' }
  90%  { color: white; }
  95%  { font-family: 'Staatliches' }
  100% { opacity: 1; }
}

h2, body{
  -webkit-animation: colorAnimation 3s;
  -moz-animation: colorAnimation 3s;
  -o-animation: colorAnimation 3s;
  animation:  colorAnimation 3s;
}
/*
  spin animation
*/
@-webkit-keyframes spin {
  0%   { transform: rotate(0deg);}
  100% { transform: rotate(359.9deg);}
}
@-moz-keyframes spin {
  0%   { transform: rotate(0deg);}
  100% { transform: rotate(359.9deg);}
}
@-o-keyframes spin {
  0%   { transform: rotate(0deg);}
  100% { transform: rotate(359.9deg);}
}
@keyframes spin {
  0%   { transform: rotate(0deg);}
  100% { transform: rotate(359.9deg);}
}

.movieIcon {
  width: 30px;
  height: 30px;
  -webkit-animation: spin 5s infinite;
  -moz-animation: spin 5s infinite;
  -o-animation: spin 5s infinite;
  animation:  spin 5s infinite;
}
